*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
    background: #efe7dc;
    padding: 10px 0;
}

.container {
    max-width: 1080px;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 2rem 3rem 1rem;
    box-shadow: 0 3px 10px #00000029;
    background-image: url(../img/textura.webp);
    background-repeat: repeat;
    display: block;
    border-radius: 8px;
}

.container h1 {
    color: #703f30;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 30px;
}

.container h2 {
    color: #f58322;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.container .w-60 p {
    font-size: 26px;
    color: #333;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.container .content-info {
    display: flex;
    gap: 40px;
    height: auto;
    align-items: center;
}

.container .w-60 {
    width: 60%;
}

.container .acordeon {
    display: grid;
    gap: 15px;
    margin-bottom: 30px;
}

.container .acordeon .displayBlockPlato button {
    width: 100%;
    background-color: #f58322;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    padding-block: 0.8rem;
    padding-left: 2.2rem;
    border: none;
    transition: .3s all ease-in;
    border: 3px solid #f58322;
    border-radius: 0 50px 50px 0;
}

.container .w-40 {
    width: 40%;
}

.container p.plato-carta {
    font-size: 26px;
}

.displayBlockPlato {
    display: block;
    width: 100%;
}

.displayNonePlato {
    display: none;
}

.container .acordeon .displayBlockPlato button.activeBtn, 
.container .acordeon .displayBlockPlato button:hover {
    border: 3px solid #703f30;
    background-color: #703f30;
    box-shadow: 0 3px 10px #00000029;
    color: #efe7dc;
}

.container .acordeon .displayBlockPlato button:hover {
    cursor: pointer;
}

.container footer span,
.container footer a {
    color: #703f30;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

.container .info {
    margin-bottom: 10px;
}

.container .info a {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.container .ubicacion a {
    text-align: center;
    width: auto;
    display: block;
}

.container footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container footer p {
    margin-top: 15px;
}